@import "tailwindcss/preflight";
@tailwind utilities;
@tailwindcss line-clamp;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Custom styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }
}

.product-name {
  text-overflow: ellipsis;
  max-width: 100%;
  WebkitLineClamp: 2;
  overflow: hidden;
  display: -webkit-box;
  justify-content: flex-start;

}